name: Ubuntu RDP
on: workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup RDP
      run: bash linux-desktop.sh
      env:
        NGROK_AUTH_TOKEN: ${{ secrets.NGROK_AUTH_TOKEN }}  # Still use for ngrok
    - name: Keep Alive
      run: sleep 6h
